<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .wrap {
            width: 700px;
            margin: 20px auto;
        }

        .center {
            text-align: center;
        }

        .image {
            width: 600px;
            height: 600px;
            background-image: url("http://blogfiles.naver.net/MjAyMDA0MTFfMjI1/MDAxNTg2NTUxODE3OTY0.cBoRheif1LW05bnY0PoSDDpIcdbjgvHxbFXJjXhHn7wg.Upklhs0Jl1D-XLIk-WISz-KfCbvocaOVZxmVtA0Qm2Ig.PNG.ysj7177/ysj172320205011055013520.png");
            background-position: center;
            background-size: cover;
            margin: 20px auto;
            border: solid;
            border-radius: 10px;
        }

        h1,
        h5 {
            display: inline;
        }
    </style>
    <script>
        function complete() {
            let name = $("#name").val();
            let num = $("#num option:selected").text();
            let address = $("#address").val();
            let phone_num = $("#phone").val();

            if (name == "") {
                alert("이름을 입력해주세요.");
            } else if (num == "수량을 선택하세요.") {
                alert("수량을 입력해주세요.");
            } else if (address == "") {
                alert("주소를 입력해주세요.");
            } else if (phone_num == "") {
                alert("휴대폰 번호를 입력해주세요.");
            } else {
                var regTel = /^(01[016789]{1}|070|02|0[3-9]{1}[0-9]{1})-[0-9]{3,4}-[0-9]{4}$/;

                if (!regTel.test(phone_num)) {
                    alert('휴대폰 번호 입력 형식이 틀립니다.\n휴대폰 번호를 000-0000-0000 형식으로 입력하세요.');
                }
                else {
                    var bool = confirm(`주문자 이름 : ${name}\n수량 : ${num}\n주소 : ${address}\n휴대폰 번호 : ${phone_num}\n\n위의 정보로 주문을 완료하시겠습니까?`);
                    if (bool) {
                        $("#name").val("");
                        $('#num option:eq(0)').attr('selected', 'selected')
                        $("#address").val("");
                        $("#phone").val("");
                    }
                    $.ajax({
                        type: "POST",
                        url: "/orders",
                        data: {
                            name_give:name,
                            num_give:num,
                            address_give:address,
                            phone_num_give:phone_num
                        },
                        success: function (response) {
                            if (response['result'] == 'success') {
                                alert(response['msg']);
                                window.location.reload();
                            }
                        }
                    });
                }
            };
        };

        $(document).ready(function () {
            get_exchange();
            $("#order-list").html("");
            listing();
        });
    
        function get_exchange() {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    let exchange = response[1]["rate"];

                    $("#exchange").append(exchange);
                    $("#exchange").css("color", "blue");
                }
            });
        };
        function listing() {
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let order = response['order_list'];
                        console.log(order)
                        for (let i=0; i<order.length; i++) {
                            make_table(order[i]['name'], order[i]['num'], order[i]['address'], order[i]['phone_num']);
                        }
                    }
                }
            });
        };  

        function make_table(name, num, address, phone_num) {
            let html_temp = `<tr>
                                <th scope="row">${name}</th>
                                <td>${num}</td>
                                <td>${address}</td>
                                <td>${phone_num}</td>
                            </tr>`

            $("#order-list").append(html_temp);
        }
    </script>

</head>

<body>
    <div class="wrap">
        <div class="image">
        </div>
        <div class="product">
            <h1>KF94 대형 마스크</h1>
            <h5>가격: 1500원 / 개</h5>
            <p>언제 끝날지 모르는 코로나에 대비해 마스크는 다다익선! 약국 가도 못 구하는 KF94 마스크 여기서 구매하세요!</p>
            <p id="exchange">원/달러 환율 : </p>
        </div>
        <div class="order">
            <h2>주문자 정보</h2>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">주문자 이름</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">수량</label>
                <div class="col-sm-10">
                    <select class="form-control" id="num">
                        <option>수량을 선택하세요.</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">주소</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="address">
                </div>
            </div>
            <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">휴대폰 번호</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control form-control-sm" id="phone">
                </div>
            </div>
            <div class="center">
                <button onclick="complete()" type="center" class="btn btn-primary">주문하기</button>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">이름</th>
                    <th scope="col">수량</th>
                    <th scope="col">주소</th>
                    <th scope="col">전화번호</th>
                  </tr>
                </thead>
                <tbody id="order-list">
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</body>

</html>